@charset "UTF-8";
html {
  width: 100%;
  height: auto;
  min-height: 100vh;
}
html body {
  position: relative;
}
html body header {
  height: 50px;
}
html body main {
  width: 100%;
  padding: 50px 0;
}
html body main .projectList {
  height: auto;
  margin: 0 auto;
}
html body main .projectList > div {
  width: 100%;
  background: lightgray;
  position: relative;
}
html body main .projectList .content {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 15px 0;
}
html body main .projectList .content.forHover {
  overflow: hidden;
}
html body main .projectList .content.forHover > canvas {
  width: 100%;
  height: 70%;
  background: lightcyan;
  margin: auto 0;
}
html body main .projectList .content .completed {
  text-decoration: line-through;
}
html body main .projectList .content > .group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
html body main .projectList .content > .ball {
  width: 200px;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #000;
  border-radius: 100%;
  margin: 50px auto;
  position: relative;
}
html body main .projectList .content > .ball.youGotAns::after {
  display: none;
}
html body main .projectList .content > .ball::before {
  content: "";
  width: 100px;
  height: 100px;
  background: #fff;
  border-radius: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 5;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
html body main .projectList .content > .ball::after {
  content: "8";
  font-size: 60px;
  font-weight: bold;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 7;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
html body main .projectList .content > .ball .answerContainer {
  width: 0;
  height: 0;
  border-left: 40px solid transparent;
  border-right: 40px solid transparent;
  border-top: 70px solid #f05b47;
  margin: 20px 0 0;
  position: relative;
  z-index: 7;
}
html body main .projectList .content > .ball .answerContainer > p {
  width: 30px;
  color: #fff;
  font-size: 12px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -180%);
          transform: translate(-50%, -180%);
}
html body main .projectList .content.player {
  width: 100%;
}
html body main .projectList .content.player > .player_block {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: lightgreen;
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s;
  padding: 10px;
  margin: 0 auto;
}
html body main .projectList .content.player > .player_block > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
}
html body main .projectList .content.player > .player_block > div.track-art {
  width: 180px;
  height: 180px;
  background-image: url("https://source.unsplash.com/Qrspubmx6kE/640x360");
  background-size: cover;
  background-position: center;
  margin: 10px auto;
}
html body main .projectList .content.player > .player_block > div.track-name {
  font-size: 16px;
  font-weight: bold;
}
html body main .projectList .content.player > .player_block > div.track-artist {
  font-size: 14px;
  margin: 0 0 10px;
}
html body main .projectList .content.player > .player_block > div.controller, html body main .projectList .content.player > .player_block > div.slider_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
html body main .projectList .content.player > .player_block > div.controller .playPause, html body main .projectList .content.player > .player_block > div.slider_container .playPause {
  margin: 0 20px;
}
html body main .projectList .content.player > .player_block > div.controller input, html body main .projectList .content.player > .player_block > div.slider_container input {
  margin: 0 10px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  height: 5px;
  background: black;
  opacity: 0.8;
}
html body main .projectList .content.player > .player_block > div.controller input:hover, html body main .projectList .content.player > .player_block > div.slider_container input:hover {
  opacity: 1;
}
html body main .projectList .content.player > .player_block > div.controller input::-webkit-slider-thumb, html body main .projectList .content.player > .player_block > div.slider_container input::-webkit-slider-thumb {
  -webkit-appearance: none;
          appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50px;
  background: white;
  cursor: pointer;
}
html body main .projectList .content.player > .player_block > div.controller i, html body main .projectList .content.player > .player_block > div.slider_container i {
  cursor: pointer;
}
html body main .projectList .content > .sideNav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: lightgrey;
  padding: 0;
  margin: 0;
}
html body main .projectList .content > .sideNav > li {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  background: lightgrey;
  -webkit-transform: background 0.3s;
          transform: background 0.3s;
  cursor: pointer;
}
html body main .projectList .content > .sideNav > li:hover {
  background: darkgray;
}
html body main .projectList .content > .sideNav > li.active {
  background: #47baf0;
  color: #ffffff;
}
html body main .projectList .content > .sideNav > li.active:hover {
  -webkit-filter: brightness(1.1);
          filter: brightness(1.1);
}
html body main .projectList .content > .contentContainer {
  width: 100%;
  padding: 10px;
  -webkit-box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.16);
}
html body main .projectList .content > .contentContainer > .contentType {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
html body main .projectList .content > .contentContainer > .contentType > .preview {
  width: 100%;
  border: 1px solid black;
  -webkit-box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.16);
  margin: 10px 0;
}
html body main .projectList .content > .contentContainer > .contentType > .preview .breadcrumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
  color: #47baf0;
}
html body main .projectList .content > .contentContainer > .contentType > .preview > .pic {
  width: 100%;
  height: 120px;
  background: lightgrey;
}
html body main .projectList .content > .contentContainer > .contentType > .preview > .price {
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 5px 10px;
}
html body main .projectList .content > .contentContainer > .contentType > .preview > .price > p {
  text-align: right;
  position: relative;
  padding: 0 0 0 15px;
}
html body main .projectList .content > .contentContainer > .contentType > .preview > .price > p::before {
  content: "$";
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
html body main .projectList .content > .contentContainer > .contentType > form {
  width: 100%;
}
html body main .projectList .content > .contentContainer > .contentType > form > label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 0 10px;
}
html body main .projectList .content > .contentContainer > .contentType > form > label > p {
  width: 57px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  font-size: 13px;
  white-space: nowrap;
}
html body main .projectList .content > .contentContainer > .contentType > form > label > select, html body main .projectList .content > .contentContainer > .contentType > form > label > input {
  width: 100%;
  height: 25px;
  border: 1px solid lightgrey;
  border-radius: 5px;
  font-size: 12px;
}
html body main .projectList .content > .contentContainer > .contentType > button {
  margin: 0 auto;
}
html body main .projectList .content > .contentContainer > .contentType p {
  margin: 0;
}
html body main .projectList .content > .contentContainer > .contentType p.type {
  font-size: 13px;
  font-weight: bold;
  padding: 0 20px 0 0;
  position: relative;
}
html body main .projectList .content > .contentContainer > .contentType p.type::before {
  content: "»";
  font-size: 14px;
  position: absolute;
  top: 50%;
  right: 5px;
  -webkit-transform: translateY(-55%);
          transform: translateY(-55%);
}
html body main .projectList .content .taskForm input {
  margin: 0 5px 0 0;
}
html body main .projectList .content p.nowText {
  text-align: center;
}
html body main .projectList .content p.nowText > span {
  display: block;
}
html body main .projectList .content p.itemName {
  font-size: 12px;
  white-space: nowrap;
  margin: 0 10px 0 0;
}
html body main .projectList .content img {
  -o-object-fit: contain;
     object-fit: contain;
  margin: 0 auto;
}
html body main .projectList .content img.timeRemind {
  width: 50%;
}
html body main .projectList .content button.setClock {
  color: #fff;
  border-radius: 5px;
  padding: 10px;
  margin: 10px auto;
}
html body main .projectList .content button.questionBtn {
  width: 240px;
  height: 40px;
  background: #f05b47;
  border-radius: 5px;
  color: #fff;
  font-weight: bold;
  margin: 0 auto;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, live {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  line-height: 1;
  font-family: "微軟正黑體";
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  font-family: "微軟正黑體";
}

button {
  cursor: pointer;
  outline: none;
  border: none;
  padding: 0px;
  font-family: "微軟正黑體";
}

input {
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "微軟正黑體";
}

html, body {
  width: 100%;
  height: auto;
}

i {
  display: block;
}

a {
  text-decoration: none;
}

img {
  display: block;
}