html {
    width: 100%;
    height: auto;
    min-height: 100vh;

    body {
        position: relative;


        header {
            height: 50px;
            // position: fixed;
            // top: 0;
        }

        main {
            width: 100%;
            padding: 50px 0;
            
            .projectList {
                height: auto;
                margin: 0 auto;
    
                &>div {
                    width: 100%;
                    background: lightgray;
                    position: relative;
                }

                .content {
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    padding: 15px 0;

                    &.forHover {
                        overflow: hidden;

                        &>canvas {
                            width: 100%;
                            height: 70%;
                            background: lightcyan;
                            margin: auto 0;
                        }
                    }

                    .completed {
                        text-decoration: line-through;
                    }

                    &>.group {
                        display: flex;
                        align-items: center;
                    }

                    &>.ball {
                        width: 200px;
                        height: 200px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        background: #000;
                        border-radius: 100%;
                        margin: 50px auto;
                        position: relative;

                        &.youGotAns {

                            &::after {
                                display: none;
                            }
                        }

                        &::before {
                            content: "";
                            width: 100px;
                            height: 100px;
                            background: #fff;
                            border-radius: 100%;
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            z-index: 5;
                            transform: translate(-50%, -50%);
                        }

                        &::after {
                            content: '8';
                            font-size: 60px;
                            font-weight: bold;
                            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            z-index: 7;
                            transform: translate(-50%, -50%);
                        }

                        .answerContainer {
                            width: 0;
                            height: 0;
                            border-left: 40px solid transparent;
                            border-right: 40px solid transparent;
                            border-top: 70px solid #f05b47;
                            margin: 20px 0 0;
                            position: relative;
                            z-index: 7;

                            &>p {
                                width: 30px;
                                color: #fff;
                                font-size: 12px;
                                text-align: center;
                                position: absolute;
                                top: 50%;
                                left: 50%;
                                transform: translate(-50%, -180%);
                            }
                        }
                    }

                    &.player {
                        width: 100%;

                        &>.player_block {
                            width: 100%;
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            background: lightgreen;
                            transition: background-color .5s;
                            padding: 10px;
                            margin: 0 auto;

                            &>div {
                                display: flex;
                                align-items: center;
                                text-align: center;
                                justify-content: space-between;
                                margin: 0 auto;

                                &.track-art {
                                    width: 180px;
                                    height: 180px;
                                    background-image: url("https://source.unsplash.com/Qrspubmx6kE/640x360");
                                    background-size: cover;
                                    background-position: center;
                                    margin: 10px auto;
                                }

                                &.track-name {
                                    font-size: 16px;
                                    font-weight: bold;
                                }

                                &.track-artist {
                                    font-size: 14px;
                                    margin: 0 0 10px;
                                }

                                &.controller,
                                &.slider_container{
                                    display: flex;
                                    align-items: center;

                                    .playPause {
                                        margin: 0 20px;
                                    }

                                    input {
                                        margin: 0 10px;
                                        appearance: none;
                                        height: 5px;
                                        background: black;
                                        opacity: 0.8;

                                        &:hover {
                                            opacity: 1;
                                        }
                                        
                                        &::-webkit-slider-thumb {
                                            appearance: none;
                                            width: 15px;
                                            height: 15px;
                                            border-radius: 50px;
                                            background: white;
                                            cursor: pointer;
                                        }
                                    }

                                    i {
                                        cursor: pointer;
                                    }
                                }
                            }
                        }
                    }

                    &>.topNav {
                        width: 100%;
                        display: flex;
                        background: lightgrey;
                        padding: 0;
                        margin: 0;

                        &>li {
                            width: 100%;
                            padding: 10px;
                            font-size: 14px;
                            font-weight: bold;
                            text-align: center;
                            background: lightgrey;
                            transform: background 0.3s;
                            cursor: pointer;

                            &:hover {
                                background: darkgray;
                            }

                            &.active {
                                background: #47baf0;
                                color: #ffffff;

                                &:hover {
                                    filter: brightness(1.1);
                                }
                            }

                        }
                    }

                    &>.contentContainer {
                        width: 100%;
                        padding: 10px;
                        box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.16);

                        &>.contentType {
                            display: none;
                            flex-direction: column;

                            &.active {
                                display: flex;
                            }

                            &>.preview {
                                width: 100%;
                                border: 1px solid black;
                                box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.16);
                                margin: 10px 0; 
                                
                                .breadcrumbs {
                                    display: flex;
                                    align-items: center;
                                    padding: 10px;
                                    color: #47baf0;

                                    &>p {
                                        font-size: 13px;
                                        font-weight: bold;
                                        padding: 0 20px 0 0;
                                        position: relative;

                                        &:not(:last-of-type) {
                                            &::after{
                                                content: "»";
                                                font-size: 14px;
                                                position: absolute;
                                                top: 50%;
                                                right: 5px;
                                                transform: translateY(-55%);
                                            }
                                        }

                                        &.category {
                                            cursor: pointer;
                                        }
                                    }
                                }

                                .pdName {
                                    font-size: 14px;
                                    font-weight: bold;
                                    padding: 0 10px;
                                }

                                &>.pic {
                                    width: 100%;
                                    height: 120px;
                                    background: lightgrey;
                                }

                                &>.price {
                                    width: auto;
                                    display: flex;
                                    justify-content: flex-end;
                                    padding: 5px 10px;
                                    
                                    &>p {
                                        text-align: right;
                                        position: relative;
                                        padding: 0 0 0 15px;

                                        &::before {
                                            content: "$";
                                            position: absolute;
                                            top: 50%;
                                            left: 0;
                                            transform: translateY(-50%);
                                        }
                                    }
                                }
                            }

                            &>.inventoryTable {
                                
                                p {
                                    font-size: 10px;
                                    white-space: nowrap;
                                    text-align: center;
                                }
                            }

                            &>form {
                                width: 100%;

                                &>label {
                                    display: flex;
                                    align-items: center;
                                    justify-content: space-between;
                                    margin: 0 0 10px;

                                    &>p {
                                        width: 57px;
                                        flex-shrink: 0;
                                        font-size: 13px;
                                        white-space: nowrap;
                                    }

                                    &>select,
                                    &>input {
                                        width: 100%;
                                        height: 25px;
                                        border: 1px solid lightgrey;
                                        border-radius: 5px;
                                        font-size: 12px;
                                    }
                                }
                            }

                            &>button {
                                margin: 0 auto;
                            }

                            p {
                                margin: 0;
                            }
                        }
                    }

                    .taskForm {
                        input {
                            margin: 0 5px 0 0;
                        }
                    }

                    p {

                        &.nowText {
                            text-align: center;

                            &>span {
                                display: block;
                            }
                        }

                        &.itemName {
                            font-size: 12px;
                            white-space: nowrap;
                            margin: 0 10px 0 0;
                        }
                    }

                    img {
                        object-fit: contain;
                        margin: 0 auto;

                        &.timeRemind {
                            width: 50%;
                        }
                    }

                    button {

                        &.setClock {
                            color: #fff;
                            border-radius: 5px;
                            padding: 10px;
                            margin: 10px auto;
                        }

                        &.questionBtn {
                            width: 240px;
                            height: 40px;
                            background: #f05b47;
                            border-radius: 5px;
                            color: #fff;
                            font-weight: bold;
                            margin: 0 auto;
                        }
                    }
                }
            }
        }
    }
}