html {
    width: 100%;
    height: auto;
    min-height: 100vh;

    body {
        position: relative;


        header {
            height: 50px;
            // position: fixed;
            // top: 0;
        }

        main {
            width: 100%;
            padding: 50px 0;
            
            .projectList {
                height: auto;
                margin: 0 auto;
    
                &>div {
                    width: 100%;
                    background: lightgray;
                    position: relative;

                    
                }

                .content {
                    display: flex;
                    flex-direction: column;

                    .completed {
                        text-decoration: line-through;
                    }

                    &>.group {
                        display: flex;
                        align-items: center;
                    }

                    p {

                        &.nowText {
                            text-align: center;

                            &>span {
                                display: block;
                            }
                        }

                        &.itemName {
                            font-size: 12px;
                            white-space: nowrap;
                            margin: 0 10px 0 0;
                        }
                    }

                    img {
                        object-fit: contain;
                        margin: 0 auto;

                        &.timeRemind {
                            width: 50%;
                        }
                    }

                    button {

                        &.setClock {
                            color: #fff;
                            border-radius: 5px;
                            padding: 10px;
                            margin: 10px auto;
                        }
                    }
                }
            }
        }
    }
}